@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gap: 16px;
  --wrapper: 1140px;
  --white: #FFFFFF;
  --black: #000000;
  --shadow-color: #CDCDCD;
  --font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  font-family: var(--font-family);
}
.wrapper {
  margin: 0 auto;
  max-width: var(--wrapper);
}
.header {
  width: 100%;
  z-index: -1;
  position: fixed;
  background: url(assets/img/header.jpg);
  background-size: cover;
}
.header__content {
  display: flex;
  height: 100vh;
  text-align: right;
  flex-direction: column;
  justify-content: center;
}
.header__content__title {
  font-size: 48px;
  color: var(--white);
}
.header__content__subtitle {
  opacity: 0.75;
  font-size: 22px;
  color: var(--white);
}
.main {
  z-index: 1;
  position: relative;
}
.main__inner {
  background: var(--white);
}
.header + .main {
  padding-top: 100vh;
}
.article__header {
  display: flex;
  padding: 16px 0;
  margin-top: -76px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
}
.article__header__category {
  font-size: 14px;
}
.article__divider {
  width: 50%;
  opacity: 0.1;
  margin: 16px 0;
  border-color: var(--black);
}
.article__header__about {
  display: flex;
  gap: var(--gap);
  align-items: center;
}
.article__header__about__author__thumb {
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid var(--black);
}
.article__header__about__byline {
  font-style: italic;
  letter-spacing: 2px;
}
.article__content {
  background: var(--white);
}
.article__content_inner {
  display: flex;
  padding: 100px 0;
  align-items: center;
  gap: calc(var(--gap) * 2);
}
.article__content__fig {
  width: 50%;
}
.article__content__fig__caption {
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
}
.article__content__fig__img {
  width: 100%;
  box-shadow: 1px 3px 10px 3px var(--shadow-color);
}
.article__content__text {
  width: 50%;
}
.article__lead {
  background: var(--white);
}
.article__lead__inner {
  line-height: 2;
  padding: 0 10% 100px;
}
.lead__media {
  width: 100%;
  margin-bottom: -5px;
}
.lead__media__video {
  width: 100%;
  height: 100%;
}
.discovery {
  padding: 100px 0;
  background: var(--white);
}
.discovery__inner {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 3);
}
.discovery__list {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}
.discovery__list__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
}
.discovery__list__header__icon {
  height: 24px;
}
.discovery__list__card {
  width: calc((100% / 3) - 11px);
}
.discovery__list__card__img {
  width: 100%;
  height: 300px;
}
.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: var(--gap);
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(assets/img/footer.jpg);
  background-size: cover;
}
.footer__desc {
  line-height: 1.5;
  max-width: 400px;
  color: var(--white);
}
.footer__desc__heading {
  font-size: 32px;
  margin-bottom: 5px;
}
.footer__mail {
  display: flex;
  gap: calc(var(--gap) * 1.5);
}
.footer__mail__button {
  padding: 8px 24px;
  text-wrap: nowrap;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
}
.footer__mail__input {
  border: 0;
  outline: 0;
  width: 550px;
  font-size: 18px;
  color: var(--white);
  background: transparent;
  border-bottom: 1px solid var(--white);
}
.footer__mail__input::placeholder {
  color: var(--white);
}
.footer__socials {
  display: flex;
  gap: var(--gap);
  margin-top: 50px;
}
.footer__socials__icon {
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  background: var(--white);
}
.footer__socials__icon__logo {
  height: 22px;
}

@media (max-width: 767px) {
  .mobile__w-100 {
    width: 100%;
  }
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .header__content__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .header__content__subtitle {
    font-size: 16px;
  }
  .article__content_inner {
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
  }
  .discovery {
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
  }
}
